/* Standard Layout CSS */
.left-panel {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #252525;
    border-radius: 5px;
    overflow: hidden;
}

.center-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-panel {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 5px;
    overflow: hidden;
}
